.video {
    position: absolute;
    top:0;
    left:0;   
    height: 80%;
    width: 100%;
    z-index: 1;
}
.op{
    width:200px;
    height:100px;
    background:#f00;
    position: static;
    z-index:100;
    top:30%;
    left:40;
    display: none;
    
}
