.navbar-expand-lg .navbar-nav  li > a {
    
    margin-left: 25px;
    margin-right: 25px;
    
}

.jumbotron{
    color:white;
    background: none;
}

body {
    background-image: url(images/background.jpg);
}
#menu{
    align-self: center;
    color: black;
    opacity: 80%;
} 